<!DOCTYPE html>
<html>
  <head>
    <title>MUNCH</title>
    <link rel="stylesheet" href="../static/stylesheet.css" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="about-wrapper">
      <div class="about-content">
        <h1>Bite into Yale's new lunch scene.</h1>
        <p>
          MUNCH, a combination of "match" and "lunch," is a lunch tag matching
          web application designed to revolutionize the way Yale students
          connect over meals.
          <br />
          <br />
          While lunch tags have become an integral part of the Yale club
          culture, their execution remains cumbersome due to reliance on
          multiple platforms. Important notifications get buried under heaps of
          emails, while coordinating across different apps can be confusing and
          time-consuming. MUNCH aims to offer a one-stop solution to these
          challenges, centralizing the lunch tag process for enhanced user
          experience.
          <br />
          <br />
          Have any questions or feedback for us? Feel free to reach out!
        </p>
      </div>

      <div class="about-image">
        <img src="../static/coffee.jpg" alt="Coffee" />
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
