<!DOCTYPE html>
<html>

<head>
  <title>MUNCH</title>
  <link rel="stylesheet" href="/static/stylesheet.css" />
</head>

<body>
  {% include 'header.html' %}
  <div class="content-wrapper">
    <h1>Matches</h1>
    {% if not matches or matches|length == 0 %}
      There are not enough users to make a match. 
      You must have at least 2 users before a match is possible.
      <br/>
    {% else %}
    <div class="color-card2">
      <table>
        <thead>
          <tr>
            <th>Person 1</th>
            <th>Person 2</th>
            {% if odd_group_exists %}
              <th>Person 3</th>
            {% endif %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for match in matches %}
          <tr>
            <td>{{match['user1_name']}}</td>
            <td>{{match['user2_name']}}</td>
            {% if 'user3_name' in match %}
              <td>{{match['user3_name']}}</td>
            {% else %}
              <td></td>
            {% endif %}
            {% if match['complete'] %}
              <td><span>COMPLETE</span></td>
            {% else %}
              <td>
                <form id="matchComplete-{{ loop.index }}" class="matchCompleteForm" action="/classrooms/admin/completematch" method="post">
                  <input type="hidden" name="classroom_id" value="{{ classroom_id }}" />
                  <input type="hidden" name="match_id" value="{{ match['match_id'] }}" />
                  <input type="hidden" name="user1" value="{{ match['user1_id'] }}" />
                  <input type="hidden" name="user2" value="{{ match['user2_id'] }}" />
                  {% if 'user3_name' in match %}
                    <input type="hidden" name="user3" value="{{ match['user3_id'] }}" />
                  {% endif %}
                  <input type="submit" value="Complete" />
                </form>
              </td>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <br />
    <a href="/classrooms?classroom_id={{classroom_id}}">Back to classroom</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.matchCompleteForm').each(function() {
        $(this).submit(function (event) {
          event.preventDefault();
          var formId = this.id;
          var formData = $(this).serialize();
  
          $.ajax({
            url: '/classrooms/admin/completematch',
            type: 'POST',
            data: formData,
            success: function (response) {
              console.log("success: ", response);
              $('#' + formId).replaceWith('<span>COMPLETE</span>');
            },
            error: function (xhr, status, error) {
              console.error("error: ", xhr.responseText);
              alert("error: " + xhr.responseText);
            }
          });
        });
      });
    });
  </script>
  {% include 'footer.html' %}
</body>

</html>